body {
  background-color: aliceblue;
}

@media (max-width: 782px) {
  .whole {
    display: flex;
    display-flex: wrap;
    width: 100%;
    height: 100vh;
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account {
  margin-top: 170px;
}

.btn {
  margin: 20px;
}

.error {
  font-size: 70%;
  color: red;
}
